body {
  font-size: 16px;
  color: #fff;
  background-color: #F8F9F3;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #159957;
  background-image: linear-gradient(120deg, #3F0C1F,#03274B,#155799, #159957 );
  /*background-color: #03274B;*/
  border-radius: 0;
  border: 0;
  height:130px;
}

#logo-img {
  background: url('../images/logolg.jpg ') no-repeat;
  width: 150px;
  height: 150px;
  margin: 15px 15px 10px 0;
}


.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
 /* color: #557c3e;*/
  color:#F8F9F3;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 5px #222;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
  letter-spacing: 2px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  font-family: sans-serif;
  color:#5F8EC2;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 15px;
}



#nav-list {
  margin-top: 5px;
  position: relative;
  bottom: 125px;
}
#nav-list a {
  color: #F8F9F3;
  text-align: center;
  font-size: .8em;
}
#nav-list a:hover {
  background: #222;
}
#nav-list a span {
  font-size: 1em;
}

#nav-list2 {
  position: relative;
  bottom:25px;
  left:50px;

}

.navbar-inverse{
  /*background-color: #03274B;*/
  background-color: #159957;
  background-image: linear-gradient(120deg, #3F0C1F,#03274B,#155799, #159957 );
}

#nav-list2  {
 font-family: verdana, sans-serif;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.row {
  margin-bottom: 15px;
}
.row > div {
  color:black;
  background-color: #F8F9F3;
}

.row > div #p-about {
  position: relative;
  left:340px;
  bottom:240px;
  color:black;
  background-color: #F8F9F3;
  border:2px solid black;
  width: 55%;
  height: auto;
}

/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-image: linear-gradient(120deg, #3F0C1F,#03274B,#155799, #159957 );
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
 
}

/* END FOOTER */


/********** Large devices only **********/
@media (min-width: 1200px) {
  
  .container .jumbotron{
    position: relative;
    bottom: 30px;
    padding: 0;
    margin-top:50px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

.dropdown:hover .dropdown-menu {
display: block;
}
.navbar{
  height: 50px;
  padding: 0px;
  border:0px;
  margin-top: 0px;
  vertical-align: middle;
  padding-top: 0px;
}
#nav-list2{
  font-size: 1em;
}
#nav-list2 li ul li a:hover{
  background:#aaa;
}

#nav-list2 li ul{
  padding-top: 0px;
  padding-bottom: 0px;
  border:2px solid #3F0C1F;
  border-radius: 5px;
}


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    /* Header */
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color:#F8F9F3;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 5px #222;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
  letter-spacing: 2px;
}

#logo-img {
  background: url('../images/logomd.jpg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 15px 15px 10px 0;
}

.dropdown:hover .dropdown-menu {
display: block;
}

 
#nav-list {
  margin-top: 5px;
  position: relative;
  bottom:70px;
}
  /* End Header */


.container .jumbotron{
  padding: 0;
  margin-top:30px; 
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  }

  #nav-list2{
  font-size: .9em;
}


#nav-list2 li ul li a:hover{
  background:#aaa;
}

#nav-list2 li ul{
  padding-top: 0px;
  padding-bottom: 0px;
  border:2px solid #3F0C1F;
  border-radius: 5px;
}

.navbar{
  height: 70px;
}

#nav-list2{
  position: relative;
  bottom: 40px;
}
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
.container .jumbotron{
  padding: 0;
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  }


.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color:#F8F9F3;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 5px #222;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
  letter-spacing: 2px;
}

#nav-list {
  margin-top: 15px;
  position: relative;
  bottom:5px;
}



#nav-list2{
  font-size: .75em;
}


#nav-list2 li ul li a:hover{
  background:#aaa;
}

#nav-list2 li ul{
  padding-top: 0px;
  padding-bottom: 0px;
  border:2px solid #3F0C1F;
  border-radius: 5px;
}

#nav-list2 {
  position: relative;
  bottom:2px;
  left:1px;

}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Institute name */
    padding-top: 10px;
    font-size: 5.5vw; /* 1vw = 1% of viewport width */
    letter-spacing: 0px;
  }

  .navbar-brand h1 div{ /* Institute name */
    padding-top: 5px;
  }
  .navbar-brand p { /* D.I.E.T Srinagar */
    font-size: 1em;
    margin-top: 12px;
  }

  #header-nav {
  height:160px;

}
/* Home Page */
  .container .jumbotron  {
    margin-top: 30px;
    padding: 0;
  }
  #nav-list2 {
  position: relative;
  top:1px;
  left:0px;

}

}


/*
@media only screen and (max-width: 999px) {
  /* rules that only apply for canvases narrower than 1000px */
}
/*
@media (min-width: 992px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */

    /* Header */
/*
.navbar-brand h1 { /* Restaurant name */
  /*font-family: 'Lora', serif;
  color:#F8F9F3;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px 5px #222;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .75;
  letter-spacing: 2px;
}

#logo-img {
  background: url('../images/logomd.jpg') no-repeat;
  width: 100px;
  height: 100px;
  margin: 15px 15px 10px 0;
}

 
#nav-list {
  margin-top: 5px;
  position: relative;
  bottom:70px;
}
  /* End Header */

/*
.container .jumbotron{
  padding: 0;
  margin-top:30px; 
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  }

  #nav-list2{
  font-size: .9em;
}


#nav-list2 li ul li a:hover{
  background:#aaa;
}

#nav-list2 li ul{
  padding-top: 0px;
  padding-bottom: 0px;
  border:2px solid #3F0C1F;
  border-radius: 5px;
}

.navbar{
  height: 70px;
}

#nav-list2{
  position: relative;
  bottom: 40px;
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
}
/*
@media only screen and (min-device-pixel-ratio: 2) {
  /* iPhone4 */ /*
}*/


